<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <script>window.secret = 'The quick brown fox jumps over the lazy dog';</script>
        <style>@import url("/static?browser=chrome");</style>
    </body>
</html>